# Local development database URL
DATABASE_URL="postgresql://postgres:password@localhost:5432/postgres?schema=public&sslmode=require"

# Cloudinary credentials (server-side only)
# Cloudinary server credentials
CLOUDINARY_CLOUD_NAME=dwxlzl5us
CLOUDINARY_API_KEY=994711693768471
CLOUDINARY_API_SECRET=fM3s_vrDapHOr3v9pD8GFtejF84
CLOUDINARY_UPLOAD_PRESET=ml_default
# Optional: use this only if you want the Cloudinary SDK to parse the full URL
# CLOUDINARY_URL=cloudinary://<api_key>:<api_secret>@<cloud_name>
